<section class="about-section">
  <div class="about-container">
    <div class="about-text">
      <h1 class="title">Sobre mim</h1> 
      <p class="description">Tenho 5 anos de experiência na <span class="bold">área de Negócios</span> e atualmente sou estudante de <span class="bold">Engenharia de Software</span>.</p>
      <p class="description">Sempre gostei de <span class="bold">automatizar, documentar e inovar</span> procedimentos. Com o tempo, percebi que minha curiosidade natural pela tecnologia não era só hobby, era um caminho. Descobri nesse universo a chance de <span class="bold">transformar ideias em soluções reais</span>, capazes de facilitar a vida das pessoas e criar <span class="bold">impacto de verdade</span>.</p>
      <p class="description">Hoje, sigo unindo <span class="bold">lógica, criatividade e propósito</span>. Meu principal objetivo é me tornar <span class="bold">desenvolvedora Full Cycle</span> e <span class="bold">desbravar o mundo</span> através do código.</p>
    </div>
    <div class="about-image">
      <img src="nat_2.png" alt="Natalia Lugão" />
    </div>
  </div>

  <span class="typing">{{ textoExibido }}</span>
</section>