.footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  border-top: 1px solid #6b2737;
}

.bold {
  font-weight: bold;
}

.a {
    text-decoration: none;

}

.i {
  color: #6b2737;
  text-decoration: none;
}
