<main>
  <div class="home-container">
    <p class="subtitle">oi! me chamo</p>
    <h1 class="title">Natalia Lugão</h1>
    <p class="description"> uma <span class="bold">sonhadora</span> e aspirante a <span class="bold">engenheira de software</span></p>
  </div>

  <div class="buttons">
      <a href="cv_natalia_lugao.pdf" download class="btn">Download CV</a>
      <a href="mailto:nalugao@gmail.com" class="btn">Me envie um e-mail</a>
  </div>

  <div class="typing">
    <span>{{ textoExibido }}</span>
    </div>
</main>
