<section class="skills-section">
  <h1 class="title">Essas são minhas skills</h1>

  <div class="skills-grid">
    <div class="skill-item">
      <i class="devicon-html5-plain colored"></i>
      <span>HTML</span>
    </div>
    <div class="skill-item">
      <i class="devicon-css3-plain colored"></i>
      <span>CSS</span>
    </div>
    <div class="skill-item">
      <i class="devicon-javascript-plain colored"></i>
      <span>JavaScript</span>
    </div>
    <div class="skill-item">
      <i class="devicon-tailwindcss-plain colored"></i>
      <span>Tailwind</span>
    </div>
    <div class="skill-item">
        <i class="devicon-bootstrap-plain colored"></i>
        <span>Bootstrap</span>
    </div>
    <div class="skill-item">
      <i class="devicon-react-original colored"></i>
      <span>ReactJS</span>
    </div>
    <div class="skill-item">
      <i class="devicon-angularjs-plain colored"></i>
      <span>Angular</span>
    </div>
    <div class="skill-item">
      <i class="devicon-python-plain colored"></i>
      <span>Python</span>
    </div>
    <div class="skill-item">
      <i class="devicon-java-plain colored"></i>
      <span>Java</span>
    </div>
    <div class="skill-item">
        <i class="devicon-postgresql-plain colored"></i>
        <span>PostgreSQL</span>
    </div>
    <div class="skill-item">
        <i class="devicon-mongodb-plain colored"></i>
        <span>MongoDB</span>
    </div>
    <div class="skill-item">
      <i class="devicon-linux-plain"></i>
      <span>Linux</span>
    </div>
  </div>
        <span class="typing">{{ textoExibido }}</span>

</section>